@page "/erna"
<PageTitle>Erna Versies</PageTitle>
<body>
    @* <img src="images/erna-volg.png" alt="erna-volg" width="400" height="768" /> *@
    <div>
        <h1 style ="color:black;font-family: courier;"><b>Volg</b></h1>

        <p style="color:black;font-family: courier;">
        veertig minute eerste saam<br>
        was dit ooit so lank Lief?<br>
        tog in alles eerlik kon word<br>
        jy en ek sodat ek kan sê<br>
        <br>
        om met my vinger die kontoer<br>
        van jou gesig te volg<br>
        om die blik van jou oë<br>
        met my oë te volg<br>
        <br>
        om met my hande jou hare<br>
        se klein golfies te volg<br>
        om jou warm asem<br>
        op my gesig te volg<br>
        <br>
        om met my arms jou rug<br>
        se mooie vorm te volg<br>
        om jou voelende vingers<br>
        warm op my vel te voel<br>
        <br>
        om met my lyf jou lyf<br>
        se diep warmte te volg<br>
        om te voel hoe jy voel<br>
        met ons saam se wees<br>
        </p>

    </div>

</body>
@* <h1>Little Front End for the Melektro Api</h1> *@
@* <img src="images/erna-volg.png" alt="erna-volg" width="400" height="768" /> *@

@code {

}
